.layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--background);
}

.mainWrapper {
    flex: 1;
    margin-left: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.mainContent {
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
    background-color: var(--background);
}